.satellite-profile-flex-wrapper {
    display: flex;
    flex-flow: column;
    background-color: #ffffff;
    padding: 12px;
    border-radius: 20px;
    background: var(--white, #F8F8F8);
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.10);
}

.satellite-profile-row {
    color: hsl(0, 0%, 23%);
    font-family: "Poppins";
    margin: 0.2rem;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
}

.satellite-profile-key-text {
    background-color: #F1F1F1;
    color: #3A3A3A;
    border-radius: 5px;
    padding: 0.3rem;
    width: 45%;

}

.satellite-profile-value-text {
    background-color: #E8E8E8;
    width: 45%;
    padding: 0.3rem;
    border-radius: 5px;
}