.flex-wrapper-total {
    display: flex;
    flex-flow: row nowrap;
  }

  .single-chart-total {
    display: flex;
    width: 100%;
    height: 32vh;
    /*padding: 20px;*/
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    /*gap: 51px;*/
    border-radius: 15px;
    background-color: white;
  }

  .circular-chart-total {
    display: block;
    margin: auto;
    padding: 20px;
  }

  .circle-bg {
    fill: none;
    stroke: #eee;
    stroke-width: 3.8;
  }

  .circle {
    fill: none;
    stroke-width: 3.8;
    stroke-linecap: round;
    animation: progress 1s ease-out forwards;
  }

  @keyframes progress {
    0% {
      stroke-dasharray: 0 100;
    }
  }

  .percentage {
    fill: white;
    font-family: "Poppins";
    font-weight: bold;
    font-size: 0.3em;
    text-anchor: middle;
  }

  .title {
    fill: rgb(143, 143, 143);
    font-family: "Poppins";
    font-weight: bold;
    font-size: 0.15em;
    text-anchor: middle;
  }
